<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main">

	<select id="selectAddress" resultType="city">
		SELECT /* selectAddress by MainController addRedirect Method */
			CITY_SEQ AS citySeq,
			CITY_FIRST_SECTION AS cityFirstSection,
			CITY_SECOND_SECTION AS
			citySecondSection,
			INSERT_DATE AS insertDate,
			INSERT_USER AS insertUser,
			CITY_CODE AS cityCode
		FROM CITYTBL
	</select>

	<insert id="insertUser" parameterType="user">
		INSERT /* insertUser by MainController addprocess Method */
		  INTO USERTBL
			(USER_SEQ,
			DELETE_YN,
			USER_NAME,
			USER_GENDER,
			USER_AGE,
			USER_ADDR,
			INSERT_DATE,
			INSERT_USER)
		  VALUES (NULL,
			DEFAULT,
			#{userName},
			#{userGender},
			#{userAge},
			#{userAddr},
			NOW(),
			DEFAULT)
	</insert>

	<select id="selectAllUser" resultType="user">
		SELECT /* selectAllUser by MainController placeRedirect Method */
		  CONCAT(CONCAT(CONCAT(CONCAT(CONCAT(CONCAT(A.USER_NAME, '/'),
				CASE
				WHEN A.USER_GENDER = 'M'
				THEN '남'
				ELSE '여'
				END ),'/'),
		  SUBSTRING_INDEX(A.USER_ADDR, ' ', -1)), '/'), A.USER_AGE ) AS userInfo,
		  A.USER_SEQ as userSeq
		FROM
		  USERTBL A
		WHERE
		  A.DELETE_YN = 'N'
	</select>

</mapper>